<div class="container">
  <h2><%= @post.title %> - by <%= @post.user.name %></h2>
  <h4><%= @post.created_at.to_date %></h4>
    <p><%= @post.body %></p>
 <ol>
  <% if @comments %>
    <% @comments.each do |comment| %>
     <li><%= comment.body %> -- <a href="/user/<%= @user.id %>/posts"><%= @user.name %></a></li>
    <% end %>
  <% end %>
 </ol>

  <% if current_user %>
    <form action="/post/<%= @post.id %>/comment" method="post">
    <textarea type="text" name="comment[body]" placeholder="Comment"></textarea>
    <br>
    <input type="submit">
  </form>
  <% end %>
 <a href="/">See all Posts</a>
</div>

