<div class="container">
  <div class="body">
    <h2><%= @post.title %></h2>
    <h4><%= @post.user.name %> on <%= @post.created_at.to_date %></h4>
    <p><%= @post.body %></p>
  </div>
  <div class="comments">
    <ol>
    <% if @comments %>
      <% @comments.each do |comment| %>
       <li><%= comment.body %> -- <a href="/user/<%= @user.id %>/posts"><%= @user.name %></a></li>
       <form action="/comment/<%= comment.id %>/upvote" method="post">
     <input type="submit" id="upvote" value=": )">
     </form>
     <form action="/comment/<%= comment.id %>/downvote" method="post">
        <input type="submit" id="downvote" value=": (">   
     </form>
      <% end %>
    <% end %>
    </ol>
  </div>
  <% if current_user %>
    <form action="/post/<%= @post.id %>/comment" method="post">
    <textarea type="text" name="comment[body]" placeholder="Comment"></textarea>
    <br>
    <input type="submit">
  </form>
  <% end %>
 <a href="/">See all Posts</a>
</div>

